body {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
}

h1 {
  color: #ffffff;
  font-size: 80px;
  margin-top: 100px;
  margin-left: 120px;
  font-family: 'Reggae One', cursive;
}

h1:hover {
  color: #82B3AA;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-size: 40px;
  margin-top: 50px;
  margin-left: 130px;
  font-family: 'Reggae One', cursive;
}

a:hover {
  color: #82B3AA;
  text-decoration: none;
  font-size: 45px;
}

.buttonContainer {
  margin-top: 20px;
  height: 50px;
}

.gameContainer {
  visibility: hidden;
  text-align: center;
}

.word {
  font-size: 120px;
  color: #ffffff;
}

.choices {
  font-size: 50px;
  margin-top: 150px;
}

.choiceLetter {
  border: 2px solid #000000;
  padding: 10px;
}

.first12 {
  margin-bottom: 50px;
}